
<div class='col-md-offset-2 col-md-8 text-center'>
<h2>HI! <%= @user.user_name.capitalize %></h2>
</div>
<div class='row'>
<div class='col col-md-8'>
  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
    <!-- Bottom Carousel Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#quote-carousel" data-slide-to="1"></li>
      <li data-target="#quote-carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Carousel Slides / Quotes -->
    <div class="carousel-inner">
    
      <!-- Quote 1 -->
      <div class="item active">
        <blockquote>
          <div class="row">
            <div class="col-sm-3 text-center">
              <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
              <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
            </div>
            <div class="col-sm-9">
              <p>If you have only one smile in you give it to the people you love. </p>
              <small>Maya Angelou</small>
            </div>
          </div>
        </blockquote>
      </div>
      <!-- Quote 2 -->
      <div class="item">
        <blockquote>
          <div class="row">
            <div class="col-sm-3 text-center">
              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
            </div>
            <div class="col-sm-9">
              <p>Great things in business are never done by one person. They're done by a team of people.</p>
              <small>Steve Jobs</small>
            </div>
          </div>
        </blockquote>
      </div>
      <!-- Quote 3 -->
      <div class="item">
        <blockquote>
          <div class="row">
            <div class="col-sm-3 text-center">
              <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
            </div>
            <div class="col-sm-9">
              <p>People may hear your words, but they feel your attitude.</p>
              <small>John C. Maxwell</small>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div> 
 </div>
 <div class="col col-md-4">
		<h3>
			age: <%=@user.age %>
		</h3>
		<h3>
			gender: <%=@user.gender %> 
		</h3>
		<h3>
			Who i am: <%=@user.bio %>
		</h3>
	</div>
</div>                         