<div class="col-md-3">
	<div class="thumbnail">
		<h1><%= user.user_name %></h1>
		<div class="caption">
			<p>
				<%= action_button(user) %>
			</p>
		</div>
	</div>
</div>
					
				
				
				